@page
@model MyApp.Namespace.AboutModel
@{
}

<h1>About me</h1>
<p><a href="https://www.linkedin.com/in/povilas-daug%C4%97la-503468368/">
https://www.linkedin.com/in/povilas-daug%C4%97la-503468368/</a></p>